<form name="container-form" class="mt-4" method="POST" action="/questions/handle-form">
    <div>
      <h3>Ngân hàng câu hỏi của tôi</h3>
      <a href="/me/trash/questions">Câu đã xóa({{deletedCount}})</a>
      <br>
      <a href="/questions/create">Thêm câu hỏi</a>
    </div>
    <div class="mt-4 d-flex">
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all">Chọn tất cả</label>
        </div>
        <select class="form-select" name="action" aria-label="Default select example" required>
            <option value=""> --Hành động-- </option>
            <option value="delete">Xóa</option>
        </select> 
        <button type="submit" class="btn btn-primary btn-submit-checked" disabled >Thực hiện</button>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" colspan="2">
                  ID
                    {{{sortable '_id' _sort}}}
                </th>
                <th scope="col">
                    Tên Unit
                    {{{sortable 'name' _sort}}}
                  </th>
                <th scope="col" colspan="2">
                  Thêm vào lúc
                  {{{sortable 'createdAt' _sort}}}
                  </th>
                {{!-- <th></th> --}}
            </tr>
        </thead>
        <tbody>

            {{#each questions}}
            <tr>
                <td>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" name="questionId[]" value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{this._id}}</th>
                <td>{{this.title}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/questions/edit/{{this._id}}" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-question-modal">Xóa</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Hiện không có câu hỏi nào.
                <a href="/questions/create">Thêm câu hỏi</a>
              </td>
            </tr>

            {{/each}}

        </tbody>
    </table>
</form>


{{!-- Confirm delete question --}}
<div id="delete-question-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa câu này?</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc là muốn xóa?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
        <button id="btn-delete-question" type="button" class="btn btn-danger">Xóa</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-question-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var questionId;
        var deleteForm = document.forms['delete-question-form'];
        var containerForm = document.forms['container-form'];
        //var containerForm = $('form[name="container-form"]')
        var btnDeleteQuestion = document.getElementById('btn-delete-question');
        var checkboxAll = $('#checkbox-all')
        var questionItemCheckbox = $('input[name="questionId[]"]')
        var btnSubmitChecked = $('.btn-submit-checked')

        // When dialog confirm clicked
        $('#delete-question-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            questionId = button.data('id');
        });
        
        // When delete question btn clicked
        btnDeleteQuestion.onclick = function () {
        deleteForm.action = '/questions/' + questionId + '?_method=DELETE';
        deleteForm.submit();
        }

        //Checkbox all changed
        checkboxAll.change(e => {
            const isCheckedAll = $(e.target).prop('checked')
            questionItemCheckbox.prop('checked', isCheckedAll)
            renderCheckboxSubmitBtn()
        })

        //question Item changed
        questionItemCheckbox.change(e => {
            const isCheckedAll = questionItemCheckbox.length === $('input[name="questionId[]"]:checked').length
            checkboxAll.prop('checked', isCheckedAll)
            renderCheckboxSubmitBtn()
        })  

        //Checked submit button
        //containerForm.on('submit', e => {
        //   const isSubmitable = !btnSubmitChecked.hasClass('disabled')
        //    if(!isSubmitable) {
        //        e.preventDefault()
        //   }
        //})

        //Render checkbox submit button
        function renderCheckboxSubmitBtn() { 
          var checkedCount = $('input[name="questionId[]"]:checked').length
          if(checkedCount > 0) {
            btnSubmitChecked.attr('disabled', false) //removeAttr('disabled')
          } else { 
            btnSubmitChecked.attr('disabled', true) //addremoveAttr('disabled')
          }
        }

       
        
    });
</script>
